// 1. ---- Typograpgy system ----
// font size (px)
//     10 / 12 / 14 / 16 / 18 / 20
//     / 24 / 30 / 36 / 44 / 52
//     / 62 / 74 / 86 / 98

// Font weights
// default: 400
// medium: 500
// semibold:600
// bold:700

$medium: 500;
$semibold: 600;
$bold: 700;

// Line height
// defautl: 1
// medium: 1.2
// small:1.05
// paragraph 1.6

// letter spacing
// -0.5px
// 0.75px

// 2. ---- Colors ----

// - Primary : #e67e22
// - Tint:
//  #fdf2e9
//  #fde3ce
// - Shades:
// #cf711f
// #8a4c14
// #45260a
// - Accent:
// - Greys:
// #555

$primary: #db7125;

// 3. ---- Shadows ----

// 4. ---- Border Radius ----
// default: 9px

// 7. ---- Whitespace ----
// Spacing(px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 /
//  48 / 64 / 80 / 96 / 128

$black-color: #402e46;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // makes 1rem = 10px
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Cormorant", serif;
  color: $black-color;
}
